<div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
          <div class="bg-dark p-4">
            <h5 class="text-white h4">Methodology</h5>
            <span class="text-muted"> How CoinMarketCap analyzes data to offer up-to-the-minute updates</span>
          </div>
        </div>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#"><h1>CoinMarket</h1></a>
            
            <a class="navbar-brand" href="#">Ranking</a>
            <a class="navbar-brand" href="#">Tools</a>
            <a class="navbar-brand" href="#">Resources</a>
            <a class="navbar-brand" href="#">Blog</a>  
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>
      </div>

  <div class="container">
    test

    <div class="row">
        <div class="col-6 col-md-4"></div>
        <div class="col-6 col-md-4">
        <h3>Sign up for our newsletter</h3>
        <br>
        <p>Get crypto analysis, news and updates, right to your inbox! Sign up here so you don't miss a single one.</p>
        <br>
        <input type="text" value="Enter your email...">
        <br><br>
        <button type="button" class="btn btn-primary">Subscribe Now</button>
        </div>
        <div class="col-6 col-md-4"></div>
    </div>
  </div>
